@model UCP1_PAW_006_A.Models.Pengiriman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pengiriman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPembayaran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPembayaran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusPengiriman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusPengiriman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisPengiriman)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisPengiriman)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlamatLengkap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlamatLengkap)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoResi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
