@model UCP1_PAW_006_A.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoHp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlamatLengkap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlamatLengkap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlbumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlbumNavigation.IdAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPembayaranNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPembayaranNavigation.IdPembayaran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPemesananNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPemesananNavigation.IdPemesanan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoResiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoResiNavigation.NoResi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsernameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsernameNavigation.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCustomer">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
